@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root,
    input,
    button,
    select,
    textarea {
        @apply bg-black font-sans text-white;
    }

    :root {
        @apply h-full w-full bg-opacity-90;
    }

    ::-webkit-scrollbar {
        @apply w-3;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-sm bg-gray-100 bg-opacity-20;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-opacity-80;
    }

    ::-webkit-scrollbar-track-piece {
        @apply opacity-0;
    }
    input[type='range' i]::-webkit-slider-thumb {
        cursor: pointer;
    }
}

@layer utilities {
    .dust-bg {
        background: url(./assets/dust.png) repeat;
        background-color: #ffffff05;
        background-size: 110px 110px;
    }
}
